@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

body {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #00009c 0%, #000 100%);
}

.nav-link {
    color: black;
}

.navbar-nav .nav-link.active {
    color: red;
}

.navbar-brand img {
    width:  50px;
}

.navbar-toggler {
background: linear-gradient(90deg, #00009c 0%, #000 100%);
}

.sidebar {
    color: rgb(151, 38, 38);
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
}

.card {
    background: linear-gradient(270deg, #00009c 0%, #000000 100%);
    color: rgb(170, 34, 170);
}

.card a {
    text-decoration: none;
    color: rgb(170, 34, 170);
}